<nav class="navbar navbar-expand-sm navbar-light mb-4" style="background-color: #fffd84">
  <div class="container">
    <div class="navbar-brand mr-auto">Angular GitHub Buttons</div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ntkme/github-buttons">
          <span class="d-none d-sm-inline">GitHub </span>
          <svg version="1.1" width="18" height="18" viewBox="0 0 18 18" class="octicon octicon-mark-github" aria-hidden="true">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Pick a style</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-2">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="style" value="ntkme" type="radio" name="style" class="form-check-input"> ntkme
          <br>
          <span aria-hidden="true">
            <ntkme-github-button size="large" user="angular" repo="ngx-github-buttons"></ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="style" value="mdo" type="radio" name="style" class="form-check-input"> mdo
          <br>
          <span aria-hidden="true">
            <mdo-github-button size="large" user="angular" repo="ngx-github-buttons"></mdo-github-button>
          </span>
        </label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h3>Choose a button</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="follow" class="form-check-input"> Follow
          <br>
          <span aria-hidden="true">
            <mdo-github-button *ngIf="style === 'mdo'" type="follow" user="angular" size="large">
            </mdo-github-button>
            <ntkme-github-button *ngIf="style === 'ntkme'" type="follow" user="angular" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="watch" class="form-check-input"> Watch
          <br>
          <span aria-hidden="true">
            <mdo-github-button *ngIf="style === 'mdo'" type="watch" user="angular" repo="ngx-github-buttons" size="large">
            </mdo-github-button>
            <ntkme-github-button *ngIf="style === 'ntkme'" type="watch" user="angular" repo="ngx-github-buttons" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="star" class="form-check-input"> Star
          <br>
          <span aria-hidden="true">
            <mdo-github-button *ngIf="style === 'mdo'" type="star" user="angular" repo="ngx-github-buttons" size="large">
            </mdo-github-button>
            <ntkme-github-button *ngIf="style === 'ntkme'" type="star" user="angular" repo="ngx-github-buttons" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="fork" class="form-check-input"> Fork
          <br>
          <span aria-hidden="true">
            <mdo-github-button *ngIf="style === 'mdo'" type="fork" user="angular" repo="ngx-github-buttons" size="large">
            </mdo-github-button>
            <ntkme-github-button *ngIf="style === 'ntkme'" type="fork" user="angular" repo="ngx-github-buttons" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3" *ngIf="style === 'ntkme'">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="issue" class="form-check-input"> Issue
          <br>
          <span aria-hidden="true">
            <ntkme-github-button *ngIf="style === 'ntkme'" type="issue" user="angular" repo="ngx-github-buttons" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3" *ngIf="style === 'ntkme'">
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="type" type="radio" name="type" value="download" class="form-check-input"> Download
          <br>
          <span aria-hidden="true">
            <ntkme-github-button *ngIf="style === 'ntkme'" type="download" user="angular" repo="ngx-github-buttons" size="large">
            </ntkme-github-button>
          </span>
        </label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <h3>Button options</h3>
      <div class="form-group">
        <input id="search" [(ngModel)]="user" type="text" maxlength="39" placeholder=":user" name="user" class="form-control mb-1" autocomplete="off">
        <input [(ngModel)]="repo" type="text" maxlength="100" placeholder=":repo" name="repo" class="form-control" autocomplete="off">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="size" value="large" (change)="changeSize($event)">
            Large button
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" [(ngModel)]="count" name="count" type="checkbox"> Show count
          </label>
        </div>
        <div class="form-check" [class.disabled]="style === 'mdo'">
          <label class="form-check-label">
            <input class="form-check-input" [(ngModel)]="standardIcon" type="checkbox" [disabled]="style === 'mdo'"> Standard icon
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <h4>Preview and code</h4>
      <p>Try out your button, then copy and paste the code below into the HTML for your site.</p>
      <div style="min-height: 45px;">
        <mdo-github-button
          *ngIf="style === 'mdo'"
          [size]="size"
          [count]="count"
          [user]="user || 'angular'"
          [repo]="repo || 'angular'"
          [type]="type"
          >
        </mdo-github-button>
        <ntkme-github-button
          *ngIf="style === 'ntkme'"
          [size]="size"
          [count]="count"
          [user]="user || 'angular'"
          [repo]="repo || 'angular'"
          [type]="type"
          [standardIcon]="standardIcon"
          >
        </ntkme-github-button>
      </div>
      <p>Import the component</p>
      <div class="form-group">
        <pre>import {{ '{' }} <ng-template [ngIf]="style === 'ntkme'">NtkmeButtonModule</ng-template><ng-template [ngIf]="style === 'mdo'">MdoButtonModule</ng-template> {{ '}' }} from '@ctrl/ngx-github-buttons';
        </pre>
      </div>
      <p>Use the component</p>
      <div class="form-group">
        <pre><ng-template [ngIf]="style === 'ntkme'">&lt;ntkme-github-button</ng-template><ng-template [ngIf]="style === 'mdo'">&lt;mdo-github-button</ng-template><ng-template [ngIf]="size === 'large'">
  size="{{ size }}"</ng-template><ng-template [ngIf]="count">
  count="{{ count }}"</ng-template>
  user="{{ user || 'angular' }}"<ng-template [ngIf]="type !== 'follow'">
  repo="{{ repo || 'angular' }}"</ng-template><ng-template [ngIf]="style === 'ntkme' && standardIcon">
  standardIcon="true"</ng-template>
  <ng-template [ngIf]="type !== 'star'">type="{{ type }}"</ng-template>>
<ng-template [ngIf]="style === 'ntkme'">&lt;/ntkme-github-button></ng-template><ng-template [ngIf]="style === 'mdo'">&lt;/mdo-github-button></ng-template>
        </pre>
      </div>
    </div>
  </div>
</div>
